@charset "UTF-8";
.as{
  margin-left: 25px;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 13px;
}
.fff{
  padding: 20px;
  font-size: 16px;
}
body{
  background-color: #56ad51;
}
@media (max-width: 600px) {
  .as{
    margin-left: 75px;
    padding: 21px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 39px;
  }
  .fff{
    padding: 60px;
    font-size: 48px;
  }
  body{
    background-color: #56ad51;
  }
}
